{{ block "index" .}}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Oskar Brzeski Portfolio</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/htmx.min.js"></script>
</head>

<body>
    {{ template "navbar" . }}

    <main></main>
</body>

</html>
{{ end }}

{{ block "test" . }}
<h2 id="h2test">Test</h2>
<button hx-target="#h2test" hx-get="/test">Test</button>
{{ end }}

{{ block "success" . }}
Success
{{ end }}
