{{ block "education" .}}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Oskar Brzeski Portfolio</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/htmx.min.js"></script>
</head>

<body>
    {{ template "navbar" . }}
    <main>
        <section>
            <h1>Education</h1>

            {{ template "university" . }}
            {{ template "alevels" . }}
            {{ template "gcse" . }}
        </section>
    </main>
</body>

</html>
{{ end }}

{{ block "university" . }}
<article class="education">
    <header>
        <h2>Durham University</h2>
        <p>(October 2020 - June 2023)</p>
    </header>
    <p>BSc Computer Science - Ordinary Degree</p>
</article>
{{ end }}

{{ block "alevels" . }}
<article class="education">
    <header>
        <h2>Trinity Sixth Form</h2>
        <p>(September 2018 - May 2020)</p>
    </header>
    <p>Mathematics - A*</p>
    <p>Computer Science - A*</p>
    <p>Physics - A</p>
</article>
{{ end }}

{{ block "gcse" . }}
{{ end }}
