/* nav */
nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a.left {
    min-width: 6em;
    text-align: right;
}

nav a.centre {
    text-align: center;
}

nav a.right {
    min-width: 6em;
    text-align: left;
}

nav span {
    min-width: 0.5em;
    text-align: center;
    margin-left: 0.2em;
    margin-right: 0.2em;
}

/* education */
article.education {
    border-width: 1px;
    border-style: solid;
    border-radius: 1em;
    padding: 1em;
    margin-bottom: 0.5em;
}

article.education h2 {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

article.education p {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}
